# Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/

# .NET artifacts
*.dll
*.exe
*.pdb

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio / Rider
.vs/
.idea/
*.swp
*.swo

# VS Code
.vscode/
.ionide/

# OS files
.DS_Store
Thumbs.db

# NuGet
*.nupkg
packages/
paket-files/

# Test results
TestResults/
*.trx
.fake

# Ignore output .c files
/output/